In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

---
### State History

In [2]:
states_history = pd.read_csv('./datasets/Covid-19-Data/all-states-history.csv', index_col=0)

In [3]:
states_history.head()

,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,NaN,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
2021-03-07,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,2676.0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2021-03-07,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,NaN,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
2021-03-07,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
2021-03-07,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,NaN,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110

In [4]:
states_history.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20780 entries, 2021-03-07 to 2020-01-13
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   state                             20780 non-null  object
 1   death                             19930 non-null  float64
 2   deathConfirmed                    9469 non-null   float64
 3   deathIncrease                     20780 non-null  int64
 4   deathProbable                     7593 non-null   float64
 5   hospitalized                      12382 non-null  float64
 6   hospitalizedCumulative            12382 non-null  float64
 7   hospitalizedCurrently             17339 non-null  float64
 8   hospitalizedIncrease              20780 non-null  int64
 9   inIcuCumulative                   3789 non-null   float64
 10  inIcuCurrently                    11636 non-null  float64
 11  negative                          13290 non-null  float64
 12  negativeIncrease                  20780 non-null  int64
 13  negativeTestsAntibody             1458 non-null   float64
 14  negativeTestsPeopleAntibody       972 non-null    float64
 15  negativeTestsViral                5024 non-null   float64
 16  onVentilatorCumulative            1290 non-null   float64
 17  onVentilatorCurrently             9126 non-null   float64
 18  positive                          20592 non-null  float64
 19  positiveCasesViral                14246 non-null  float64
 20  positiveIncrease                  20780 non-null  int64
 21  positiveScore                     20780 non-null  int64
 22  positiveTestsAntibody             3346 non-null   float64
 23  positiveTestsAntigen              2233 non-null   float64
 24  positiveTestsPeopleAntibody       1094 non-null   float64
 25  positiveTestsPeopleAntigen        633 non-null    float64
 26  positiveTestsViral                8958 non-null   float64
 27  recovered                         12003 non-null  float64
 28  totalTestEncountersViral          5231 non-null   float64
 29  totalTestEncountersViralIncrease  20780 non-null  int64
 30  totalTestResults                  20614 non-null  float64
 31  totalTestResultsIncrease          20780 non-null  int64
 32  totalTestsAntibody                4789 non-null   float64
 33  totalTestsAntigen                 3421 non-null   float64
 34  totalTestsPeopleAntibody          2200 non-null   float64
 35  totalTestsPeopleAntigen           999 non-null    float64
 36  totalTestsPeopleViral             9181 non-null   float64
 37  totalTestsPeopleViralIncrease     20780 non-null  int64
 38  totalTestsViral                   14516 non-null  float64
 39  totalTestsViralIncrease           20780 non-null  int64
dtypes: float64(30), int64(9), object(1)
memory usage: 6.5+ MB

In [5]:
states_history.isna().sum()

state                                   0
death                                 850
deathConfirmed                      11311
deathIncrease                           0
deathProbable                       13187
hospitalized                         8398
hospitalizedCumulative               8398
hospitalizedCurrently                3441
hospitalizedIncrease                    0
inIcuCumulative                     16991
inIcuCurrently                       9144
negative                             7490
negativeIncrease                        0
negativeTestsAntibody               19322
negativeTestsPeopleAntibody         19808
negativeTestsViral                  15756
onVentilatorCumulative              19490
onVentilatorCurrently               11654
positive                              188
positiveCasesViral                   6534
positiveIncrease                        0
positiveScore                           0
positiveTestsAntibody               17434
positiveTestsAntigen                18547
positiveTestsPeopleAntibody         19686
positiveTestsPeopleAntigen          20147
positiveTestsViral                  11822
recovered                            8777
totalTestEncountersViral            15549
totalTestEncountersViralIncrease        0
totalTestResults                      166
totalTestResultsIncrease                0
totalTestsAntibody                  15991
totalTestsAntigen                   17359
totalTestsPeopleAntibody            18580
totalTestsPeopleAntigen             19781
totalTestsPeopleViral               11599
totalTestsPeopleViralIncrease           0
totalTestsViral                      6264
totalTestsViralIncrease                 0
dtype: int64

---
### LA data

In [6]:
cali_counties = pd.read_csv('./datasets/Covid-19-Data/latimes-county-totals.csv')
cali_counties

,date,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
0,2021-05-13,Alameda,1,87940,1657,27.0,0.0
1,2021-05-13,Alpine,3,88,0,0.0,0.0
2,2021-05-13,Amador,5,3623,47,0.0,0.0
3,2021-05-13,Butte,7,11843,182,26.0,0.0
4,2021-05-13,Calaveras,9,2130,54,1.0,0.0
...,...,...,...,...,...,...,...
24851,2020-01-26,Solano,95,0,0,NaN,NaN
24852,2020-01-26,Sonoma,97,0,0,NaN,NaN
24853,2020-01-26,Stanislaus,99,0,0,NaN,NaN
24854,2020-01-26,Ventura,111,0,0,NaN,NaN
24855,2020-01-26,Yolo,113,0,0,NaN,NaN

In [7]:
cali_counties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24856 entries, 0 to 24855
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 24856 non-null  object
 1   county               24856 non-null  object
 2   fips                 24856 non-null  int64
 3   confirmed_cases      24856 non-null  int64
 4   deaths               24856 non-null  int64
 5   new_confirmed_cases  24798 non-null  float64
 6   new_deaths           24798 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.3+ MB

In [8]:
cali_counties.isna().sum()

date                    0
county                  0
fips                    0
confirmed_cases         0
deaths                  0
new_confirmed_cases    58
new_deaths             58
dtype: int64

In [9]:
# get LA county
la_county = cali_counties.loc[cali_counties.county == 'Los Angeles']
la_county

,date,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
18,2021-05-13,Los Angeles,37,1236469,24057,213.0,16.0
76,2021-05-12,Los Angeles,37,1236256,24041,257.0,20.0
134,2021-05-11,Los Angeles,37,1235999,24021,171.0,18.0
192,2021-05-10,Los Angeles,37,1235828,24003,177.0,4.0
250,2021-05-09,Los Angeles,37,1235651,23999,229.0,4.0
...,...,...,...,...,...,...,...
24822,2020-01-30,Los Angeles,37,1,0,0.0,0.0
24825,2020-01-29,Los Angeles,37,1,0,0.0,0.0
24828,2020-01-28,Los Angeles,37,1,0,0.0,0.0
24831,2020-01-27,Los Angeles,37,1,0,0.0,0.0
24838,2020-01-26,Los Angeles,37,1,0,NaN,NaN

In [13]:
la_county['date'] = pd.to_datetime(la_county['date'])
la_county.set_index('date', inplace = True)
la_county.sort_index(inplace = True)

<ipython-input-13-c8030aea036c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  la_county['date'] = pd.to_datetime(la_county['date'])
/Users/yuli/miniforge3/envs/tf/lib/python3.8/site-packages/pandas/core/frame.py:5582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

In [14]:
la_county.head(2)

,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
date,,,,,,
2020-01-26,Los Angeles,37,1,0,NaN,NaN
2020-01-27,Los Angeles,37,1,0,0.0,0.0

In [15]:
la_county.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 474 entries, 2020-01-26 to 2021-05-13
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   county               474 non-null    object
 1   fips                 474 non-null    int64
 2   confirmed_cases      474 non-null    int64
 3   deaths               474 non-null    int64
 4   new_confirmed_cases  473 non-null    float64
 5   new_deaths           473 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 25.9+ KB

In [16]:
# locate only 2020 rows
la_county_2020 = la_county.loc['2020']
la_county_2020

,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
date,,,,,,
2020-01-26,Los Angeles,37,1,0,NaN,NaN
2020-01-27,Los Angeles,37,1,0,0.0,0.0
2020-01-28,Los Angeles,37,1,0,0.0,0.0
2020-01-29,Los Angeles,37,1,0,0.0,0.0
2020-01-30,Los Angeles,37,1,0,0.0,0.0
...,...,...,...,...,...,...
2020-12-27,Los Angeles,37,719960,9485,12497.0,44.0
2020-12-28,Los Angeles,37,734860,9564,14900.0,79.0
2020-12-29,Los Angeles,37,746666,9806,11806.0,242.0
2020-12-30,Los Angeles,37,756840,10068,10174.0,262.0
2020-12-31,Los Angeles,37,771519,10359,14679.0,291.0

In [17]:
# replace NaN with zeroes since on January 26 2020 there was only one covid-19
# case in LA on this date (first case), no death and no new cases
la_county_2020.replace({np.nan: 0}, inplace=True)

/Users/yuli/miniforge3/envs/tf/lib/python3.8/site-packages/pandas/core/frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [20]:
la_county_2020.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 341 entries, 2020-01-26 to 2020-12-31
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   county               341 non-null    object
 1   fips                 341 non-null    int64
 2   confirmed_cases      341 non-null    int64
 3   deaths               341 non-null    int64
 4   new_confirmed_cases  341 non-null    float64
 5   new_deaths           341 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 18.6+ KB

In [19]:
la_county_2020.head()

,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
date,,,,,,
2020-01-26,Los Angeles,37,1,0,0.0,0.0
2020-01-27,Los Angeles,37,1,0,0.0,0.0
2020-01-28,Los Angeles,37,1,0,0.0,0.0
2020-01-29,Los Angeles,37,1,0,0.0,0.0
2020-01-30,Los Angeles,37,1,0,0.0,0.0

In [21]:
# save df
la_county_2020.to_csv('./datasets/Covid-19-Data/LA_county_covid_2020.csv')

---
### NYC data

In [22]:
nyc = pd.read_csv('./datasets/Covid-19-Data/NYC_COVID-19_Daily_Counts_of_Cases_Hospitalizations_and_Deaths.csv')
nyc

,DATE_OF_INTEREST,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,05/09/2021,311,142,47,23,5,658,874,64,26,...,9,1,1,0,57,74,3,3,3,11000
436,05/10/2021,635,188,52,23,4,621,821,60,26,...,10,1,1,1,54,70,2,2,3,11000
437,05/11/2021,595,168,48,13,6,586,775,55,24,...,19,3,1,0,52,67,2,2,2,11000
438,05/12/2021,533,138,14,13,7,553,729,48,22,...,12,0,2,0,52,66,2,2,2,11000
439,05/13/2021,411,114,5,9,11,506,663,39,20,...,8,0,0,0,50,64,1,2,2,11000

In [25]:
# make date in correct ISO8601 format
for i in range(0, nyc.shape[0]):
    nyc['DATE_OF_INTEREST'].iloc[i] = '-'.join([nyc['DATE_OF_INTEREST'][i].split('/')[2], nyc['DATE_OF_INTEREST'][i].split('/')[0], nyc['DATE_OF_INTEREST'][i].split('/')[1]])

/Users/yuli/miniforge3/envs/tf/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [26]:
nyc

,DATE_OF_INTEREST,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
0,2020-02-29,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-01,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-02,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-03,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-04,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2021-05-09,311,142,47,23,5,658,874,64,26,...,9,1,1,0,57,74,3,3,3,11000
436,2021-05-10,635,188,52,23,4,621,821,60,26,...,10,1,1,1,54,70,2,2,3,11000
437,2021-05-11,595,168,48,13,6,586,775,55,24,...,19,3,1,0,52,67,2,2,2,11000
438,2021-05-12,533,138,14,13,7,553,729,48,22,...,12,0,2,0,52,66,2,2,2,11000
439,2021-05-13,411,114,5,9,11,506,663,39,20,...,8,0,0,0,50,64,1,2,2,11000

In [28]:
nyc.rename(columns={'DATE_OF_INTEREST': 'date'}, inplace=True)
nyc['date'] = pd.to_datetime(nyc['date'])
nyc.set_index('date', inplace = True)
nyc.sort_index(inplace = True)

In [29]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 440 entries, 2020-02-29 to 2021-05-13
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CASE_COUNT                      440 non-null    int64
 1   probable_case_count             440 non-null    int64
 2   HOSPITALIZED_COUNT              440 non-null    int64
 3   DEATH_COUNT                     440 non-null    int64
 4   DEATH_COUNT_PROBABLE            440 non-null    int64
 5   CASE_COUNT_7DAY_AVG             440 non-null    int64
 6   all_case_count_7day_avg         440 non-null    int64
 7   HOSP_COUNT_7DAY_AVG             440 non-null    int64
 8   DEATH_COUNT_7DAY_AVG            440 non-null    int64
 9   all_death_count_7day_avg        440 non-null    int64
 10  BX_CASE_COUNT                   440 non-null    int64
 11  bx_probable_case_count          440 non-null    int64
 12  BX_HOSPITALIZED_COUNT           440 non-null    int64
 13  BX_DEATH_COUNT                  440 non-null    int64
 14  bx_probable_death_count         440 non-null    int64
 15  BX_CASE_COUNT_7DAY_AVG          440 non-null    int64
 16  bx_all_case_count_7day_avg      440 non-null    int64
 17  BX_HOSPITALIZED_COUNT_7DAY_AVG  440 non-null    int64
 18  BX_DEATH_COUNT_7DAY_AVG         440 non-null    int64
 19  bx_all_death_count_7day_avg     440 non-null    int64
 20  BK_CASE_COUNT                   440 non-null    int64
 21  bk_probable_case_count          440 non-null    int64
 22  BK_HOSPITALIZED_COUNT           440 non-null    int64
 23  BK_DEATH_COUNT                  440 non-null    int64
 24  bk_probable_death_count         440 non-null    int64
 25  BK_CASE_COUNT_7DAY_AVG          440 non-null    int64
 26  bk_all_case_count_7day_avg      440 non-null    int64
 27  BK_HOSPITALIZED_COUNT_7DAY_AVG  440 non-null    int64
 28  BK_DEATH_COUNT_7DAY_AVG         440 non-null    int64
 29  bk_all_death_count_7day_avg     440 non-null    int64
 30  MN_CASE_COUNT                   440 non-null    int64
 31  mn_probable_case_count          440 non-null    int64
 32  MN_HOSPITALIZED_COUNT           440 non-null    int64
 33  MN_DEATH_COUNT                  440 non-null    int64
 34  mn_probable_death_count         440 non-null    int64
 35  MN_CASE_COUNT_7DAY_AVG          440 non-null    int64
 36  mn_all_case_count_7day_avg      440 non-null    int64
 37  MN_HOSPITALIZED_COUNT_7DAY_AVG  440 non-null    int64
 38  MN_DEATH_COUNT_7DAY_AVG         440 non-null    int64
 39  mn_all_death_count_7day_avg     440 non-null    int64
 40  QN_CASE_COUNT                   440 non-null    int64
 41  qn_probable_case_count          440 non-null    int64
 42  QN_HOSPITALIZED_COUNT           440 non-null    int64
 43  QN_DEATH_COUNT                  440 non-null    int64
 44  qn_probable_death_count         440 non-null    int64
 45  QN_CASE_COUNT_7DAY_AVG          440 non-null    int64
 46  qn_all_case_count_7day_avg      440 non-null    int64
 47  QN_HOSPITALIZED_COUNT_7DAY_AVG  440 non-null    int64
 48  QN_DEATH_COUNT_7DAY_AVG         440 non-null    int64
 49  qn_all_death_count_7day_avg     440 non-null    int64
 50  SI_CASE_COUNT                   440 non-null    int64
 51  si_probable_case_count          440 non-null    int64
 52  SI_HOSPITALIZED_COUNT           440 non-null    int64
 53  SI_DEATH_COUNT                  440 non-null    int64
 54  si_probable_death_count         440 non-null    int64
 55  SI_CASE_COUNT_7DAY_AVG          440 non-null    int64
 56  si_all_case_count_7day_avg      440 non-null    int64
 57  SI_HOSPITALIZED_COUNT_7DAY_AVG  440 non-null    int64
 58  SI_DEATH_COUNT_7DAY_AVG         440 non-null    int64
 59  si_all_death_count_7day_avg     440 non-null    int64
 60  INCOMPLETE                      440 non-null    int64
dtypes: int64(61)
memory usage: 213.1 KB

In [33]:
# locate only 2020 rows
# first case in NYC was on Feb 29 2020
nyc_boroughs_2020 = nyc.loc['2020']
nyc_boroughs_2020.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 307 entries, 2020-02-29 to 2020-12-31
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CASE_COUNT                      307 non-null    int64
 1   probable_case_count             307 non-null    int64
 2   HOSPITALIZED_COUNT              307 non-null    int64
 3   DEATH_COUNT                     307 non-null    int64
 4   DEATH_COUNT_PROBABLE            307 non-null    int64
 5   CASE_COUNT_7DAY_AVG             307 non-null    int64
 6   all_case_count_7day_avg         307 non-null    int64
 7   HOSP_COUNT_7DAY_AVG             307 non-null    int64
 8   DEATH_COUNT_7DAY_AVG            307 non-null    int64
 9   all_death_count_7day_avg        307 non-null    int64
 10  BX_CASE_COUNT                   307 non-null    int64
 11  bx_probable_case_count          307 non-null    int64
 12  BX_HOSPITALIZED_COUNT           307 non-null    int64
 13  BX_DEATH_COUNT                  307 non-null    int64
 14  bx_probable_death_count         307 non-null    int64
 15  BX_CASE_COUNT_7DAY_AVG          307 non-null    int64
 16  bx_all_case_count_7day_avg      307 non-null    int64
 17  BX_HOSPITALIZED_COUNT_7DAY_AVG  307 non-null    int64
 18  BX_DEATH_COUNT_7DAY_AVG         307 non-null    int64
 19  bx_all_death_count_7day_avg     307 non-null    int64
 20  BK_CASE_COUNT                   307 non-null    int64
 21  bk_probable_case_count          307 non-null    int64
 22  BK_HOSPITALIZED_COUNT           307 non-null    int64
 23  BK_DEATH_COUNT                  307 non-null    int64
 24  bk_probable_death_count         307 non-null    int64
 25  BK_CASE_COUNT_7DAY_AVG          307 non-null    int64
 26  bk_all_case_count_7day_avg      307 non-null    int64
 27  BK_HOSPITALIZED_COUNT_7DAY_AVG  307 non-null    int64
 28  BK_DEATH_COUNT_7DAY_AVG         307 non-null    int64
 29  bk_all_death_count_7day_avg     307 non-null    int64
 30  MN_CASE_COUNT                   307 non-null    int64
 31  mn_probable_case_count          307 non-null    int64
 32  MN_HOSPITALIZED_COUNT           307 non-null    int64
 33  MN_DEATH_COUNT                  307 non-null    int64
 34  mn_probable_death_count         307 non-null    int64
 35  MN_CASE_COUNT_7DAY_AVG          307 non-null    int64
 36  mn_all_case_count_7day_avg      307 non-null    int64
 37  MN_HOSPITALIZED_COUNT_7DAY_AVG  307 non-null    int64
 38  MN_DEATH_COUNT_7DAY_AVG         307 non-null    int64
 39  mn_all_death_count_7day_avg     307 non-null    int64
 40  QN_CASE_COUNT                   307 non-null    int64
 41  qn_probable_case_count          307 non-null    int64
 42  QN_HOSPITALIZED_COUNT           307 non-null    int64
 43  QN_DEATH_COUNT                  307 non-null    int64
 44  qn_probable_death_count         307 non-null    int64
 45  QN_CASE_COUNT_7DAY_AVG          307 non-null    int64
 46  qn_all_case_count_7day_avg      307 non-null    int64
 47  QN_HOSPITALIZED_COUNT_7DAY_AVG  307 non-null    int64
 48  QN_DEATH_COUNT_7DAY_AVG         307 non-null    int64
 49  qn_all_death_count_7day_avg     307 non-null    int64
 50  SI_CASE_COUNT                   307 non-null    int64
 51  si_probable_case_count          307 non-null    int64
 52  SI_HOSPITALIZED_COUNT           307 non-null    int64
 53  SI_DEATH_COUNT                  307 non-null    int64
 54  si_probable_death_count         307 non-null    int64
 55  SI_CASE_COUNT_7DAY_AVG          307 non-null    int64
 56  si_all_case_count_7day_avg      307 non-null    int64
 57  SI_HOSPITALIZED_COUNT_7DAY_AVG  307 non-null    int64
 58  SI_DEATH_COUNT_7DAY_AVG         307 non-null    int64
 59  si_all_death_count_7day_avg     307 non-null    int64
 60  INCOMPLETE                      307 non-null    int64
dtypes: int64(61)
memory usage: 148.7 KB

In [34]:
nyc_boroughs_2020.head(2)

,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,all_death_count_7day_avg,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
date,,,,,,,,,,,,,,,,,,,,,
2020-02-29,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-03-01,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
nyc_boroughs_2020.tail(2)

,CASE_COUNT,probable_case_count,HOSPITALIZED_COUNT,DEATH_COUNT,DEATH_COUNT_PROBABLE,CASE_COUNT_7DAY_AVG,all_case_count_7day_avg,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,all_death_count_7day_avg,...,si_probable_case_count,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,si_probable_death_count,SI_CASE_COUNT_7DAY_AVG,si_all_case_count_7day_avg,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,si_all_death_count_7day_avg,INCOMPLETE
date,,,,,,,,,,,,,,,,,,,,,
2020-12-30,4975,1062,320,40,5,3710,4614,294,41,44,...,92,19,4,1,378,457,17,6,6,0
2020-12-31,3386,780,287,41,1,3762,4687,295,42,44,...,71,19,3,0,399,481,18,6,6,0

In [36]:
nyc_boroughs_2020.to_csv('./datasets/Covid-19-Data/NYC_all_boroughs_covid_2020.csv')