In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

---
### State History

In [4]:
states_history = pd.read_csv('./datasets/Covid-19-Data/all-states-history.csv', index_col=0)

In [5]:
states_history.head()

,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
date,,,,,,,,,,,,,,,,,,,,,
2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,NaN,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
2021-03-07,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,2676.0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2021-03-07,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,NaN,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
2021-03-07,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
2021-03-07,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,NaN,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110

In [6]:
states_history.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20780 entries, 2021-03-07 to 2020-01-13
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   state                             20780 non-null  object
 1   death                             19930 non-null  float64
 2   deathConfirmed                    9469 non-null   float64
 3   deathIncrease                     20780 non-null  int64
 4   deathProbable                     7593 non-null   float64
 5   hospitalized                      12382 non-null  float64
 6   hospitalizedCumulative            12382 non-null  float64
 7   hospitalizedCurrently             17339 non-null  float64
 8   hospitalizedIncrease              20780 non-null  int64
 9   inIcuCumulative                   3789 non-null   float64
 10  inIcuCurrently                    11636 non-null  float64
 11  negative                          13290 non-null  float64
 12  negativeIncrease                  20780 non-null  int64
 13  negativeTestsAntibody             1458 non-null   float64
 14  negativeTestsPeopleAntibody       972 non-null    float64
 15  negativeTestsViral                5024 non-null   float64
 16  onVentilatorCumulative            1290 non-null   float64
 17  onVentilatorCurrently             9126 non-null   float64
 18  positive                          20592 non-null  float64
 19  positiveCasesViral                14246 non-null  float64
 20  positiveIncrease                  20780 non-null  int64
 21  positiveScore                     20780 non-null  int64
 22  positiveTestsAntibody             3346 non-null   float64
 23  positiveTestsAntigen              2233 non-null   float64
 24  positiveTestsPeopleAntibody       1094 non-null   float64
 25  positiveTestsPeopleAntigen        633 non-null    float64
 26  positiveTestsViral                8958 non-null   float64
 27  recovered                         12003 non-null  float64
 28  totalTestEncountersViral          5231 non-null   float64
 29  totalTestEncountersViralIncrease  20780 non-null  int64
 30  totalTestResults                  20614 non-null  float64
 31  totalTestResultsIncrease          20780 non-null  int64
 32  totalTestsAntibody                4789 non-null   float64
 33  totalTestsAntigen                 3421 non-null   float64
 34  totalTestsPeopleAntibody          2200 non-null   float64
 35  totalTestsPeopleAntigen           999 non-null    float64
 36  totalTestsPeopleViral             9181 non-null   float64
 37  totalTestsPeopleViralIncrease     20780 non-null  int64
 38  totalTestsViral                   14516 non-null  float64
 39  totalTestsViralIncrease           20780 non-null  int64
dtypes: float64(30), int64(9), object(1)
memory usage: 6.5+ MB

In [8]:
states_history.isna().sum()

state                                   0
death                                 850
deathConfirmed                      11311
deathIncrease                           0
deathProbable                       13187
hospitalized                         8398
hospitalizedCumulative               8398
hospitalizedCurrently                3441
hospitalizedIncrease                    0
inIcuCumulative                     16991
inIcuCurrently                       9144
negative                             7490
negativeIncrease                        0
negativeTestsAntibody               19322
negativeTestsPeopleAntibody         19808
negativeTestsViral                  15756
onVentilatorCumulative              19490
onVentilatorCurrently               11654
positive                              188
positiveCasesViral                   6534
positiveIncrease                        0
positiveScore                           0
positiveTestsAntibody               17434
positiveTestsAntigen                18547
positiveTestsPeopleAntibody         19686
positiveTestsPeopleAntigen          20147
positiveTestsViral                  11822
recovered                            8777
totalTestEncountersViral            15549
totalTestEncountersViralIncrease        0
totalTestResults                      166
totalTestResultsIncrease                0
totalTestsAntibody                  15991
totalTestsAntigen                   17359
totalTestsPeopleAntibody            18580
totalTestsPeopleAntigen             19781
totalTestsPeopleViral               11599
totalTestsPeopleViralIncrease           0
totalTestsViral                      6264
totalTestsViralIncrease                 0
dtype: int64

---
### LA Times dataset

In [16]:
cali_counties = pd.read_csv('./datasets/Covid-19-Data/latimes-county-totals.csv', index_col=0)
cali_counties

,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
date,,,,,,
2021-05-13,Alameda,1,87940,1657,27.0,0.0
2021-05-13,Alpine,3,88,0,0.0,0.0
2021-05-13,Amador,5,3623,47,0.0,0.0
2021-05-13,Butte,7,11843,182,26.0,0.0
2021-05-13,Calaveras,9,2130,54,1.0,0.0
...,...,...,...,...,...,...
2020-01-26,Solano,95,0,0,NaN,NaN
2020-01-26,Sonoma,97,0,0,NaN,NaN
2020-01-26,Stanislaus,99,0,0,NaN,NaN
2020-01-26,Ventura,111,0,0,NaN,NaN
2020-01-26,Yolo,113,0,0,NaN,NaN

In [19]:
cali_counties.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24856 entries, 2021-05-13 to 2020-01-26
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   county               24856 non-null  object
 1   fips                 24856 non-null  int64
 2   confirmed_cases      24856 non-null  int64
 3   deaths               24856 non-null  int64
 4   new_confirmed_cases  24798 non-null  float64
 5   new_deaths           24798 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.3+ MB

In [17]:
cali_counties.isna().sum()

county                  0
fips                    0
confirmed_cases         0
deaths                  0
new_confirmed_cases    58
new_deaths             58
dtype: int64

In [41]:
# get LA county
la_county = cali_counties.loc[cali_counties.county == 'Los Angeles']
la_county

,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
date,,,,,,
2021-05-13,Los Angeles,37,1236469,24057,213.0,16.0
2021-05-12,Los Angeles,37,1236256,24041,257.0,20.0
2021-05-11,Los Angeles,37,1235999,24021,171.0,18.0
2021-05-10,Los Angeles,37,1235828,24003,177.0,4.0
2021-05-09,Los Angeles,37,1235651,23999,229.0,4.0
...,...,...,...,...,...,...
2020-01-30,Los Angeles,37,1,0,0.0,0.0
2020-01-29,Los Angeles,37,1,0,0.0,0.0
2020-01-28,Los Angeles,37,1,0,0.0,0.0
2020-01-27,Los Angeles,37,1,0,0.0,0.0
2020-01-26,Los Angeles,37,1,0,NaN,NaN

In [67]:
la_county_2020 = la_county.drop(la_county.index[0:133])
la_county_2020

,county,fips,confirmed_cases,deaths,new_confirmed_cases,new_deaths
date,,,,,,
2020-12-31,Los Angeles,37,771519,10359,14679.0,291.0
2020-12-30,Los Angeles,37,756840,10068,10174.0,262.0
2020-12-29,Los Angeles,37,746666,9806,11806.0,242.0
2020-12-28,Los Angeles,37,734860,9564,14900.0,79.0
2020-12-27,Los Angeles,37,719960,9485,12497.0,44.0
...,...,...,...,...,...,...
2020-01-30,Los Angeles,37,1,0,0.0,0.0
2020-01-29,Los Angeles,37,1,0,0.0,0.0
2020-01-28,Los Angeles,37,1,0,0.0,0.0
2020-01-27,Los Angeles,37,1,0,0.0,0.0
2020-01-26,Los Angeles,37,1,0,NaN,NaN

In [68]:
la_county_2020.to_csv('./datasets/Covid-19-Data/LA_county_covid_2020.csv')