In [1]:
import numpy as np
import pandas as pd
import sys

# The original csv with all the data was too big to upload to Github, so the original data was downloaded locally and not pushed to Github. The data can be downloaded and found here: https://data.bts.gov/Research-and-Statistics/Trips-by-Distance/w96p-f2qv

In [4]:
df = pd.read_csv('datasets/traffic/extras/trips_by_distance.csv')

/Users/leo/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2676572 entries, 0 to 2676571
Data columns (total 20 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Level                           object
 1   Date                            object
 2   State FIPS                      float64
 3   State Postal Code               object
 4   County FIPS                     float64
 5   County Name                     object
 6   Population Staying at Home      float64
 7   Population Not Staying at Home  float64
 8   Number of Trips                 float64
 9   Number of Trips <1              float64
 10  Number of Trips 1-3             float64
 11  Number of Trips 3-5             float64
 12  Number of Trips 5-10            float64
 13  Number of Trips 10-25           float64
 14  Number of Trips 25-50           float64
 15  Number of Trips 50-100          float64
 16  Number of Trips 100-250         float64
 17  Number of Trips 250-500         float64
 18  Number of Trips >=500           float64
 19  Row ID                          object
dtypes: float64(15), object(5)
memory usage: 408.4+ MB

In [7]:
sys.getsizeof(df)

1213485318

In [8]:
df['Level'].value_counts()

County      2632996
State         42738
National        838
Name: Level, dtype: int64

In [15]:
df[df['Level'] == 'County'].index

Int64Index([  41756,   41757,   41758,   41759,   41760,   41761,   41762,
              41763,   41764,   41765,
            ...
            2676198, 2676199, 2676200, 2676201, 2676202, 2676203, 2676204,
            2676205, 2676206, 2676207],
           dtype='int64', length=2632996)

In [16]:
df.drop(index=df[df['Level'] == 'County'].index)

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID
0,National,2019/01/01,NaN,NaN,NaN,NaN,77433867.0,248733553.0,8.977844e+08,241667151.0,234284795.0,108078903.0,129670778.0,116904343.0,40432062.0,15686639.0,7525563.0,1806022.0,1728112.0,00-00000-20190101
1,National,2019/01/02,NaN,NaN,NaN,NaN,61305201.0,264862219.0,1.139452e+09,291276735.0,285887315.0,138039296.0,171637514.0,167412698.0,56148976.0,17739183.0,7817044.0,1962301.0,1531219.0,00-00000-20190102
2,National,2019/01/03,NaN,NaN,NaN,NaN,63050480.0,263116940.0,1.162753e+09,296375014.0,290074425.0,140771581.0,175775410.0,172027487.0,57632422.0,18366626.0,8124548.0,2038099.0,1567072.0,00-00000-20190103
3,National,2019/01/04,NaN,NaN,NaN,NaN,61803652.0,264363768.0,1.181954e+09,293159631.0,295643296.0,145251819.0,181324645.0,176144493.0,58761592.0,19315785.0,8687318.0,2096065.0,1569185.0,00-00000-20190104
4,National,2019/01/05,NaN,NaN,NaN,NaN,64389745.0,261777675.0,1.180477e+09,295459014.0,304168709.0,148540651.0,180941769.0,165239790.0,54842134.0,19363939.0,8490791.0,1991159.0,1438664.0,00-00000-20190105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676567,National,2021/04/13,NaN,NaN,NaN,NaN,71561879.0,256677644.0,1.327939e+09,364913427.0,317020131.0,161519430.0,205450662.0,193587556.0,59599904.0,17683757.0,6134173.0,1219349.0,810923.0,00-00000-20210413
2676568,National,2021/04/14,NaN,NaN,NaN,NaN,72975559.0,255263964.0,1.298120e+09,348622882.0,309124381.0,159291514.0,204081142.0,192633165.0,58826089.0,17178872.0,6143022.0,1361722.0,857318.0,00-00000-20210414
2676569,National,2021/04/15,NaN,NaN,NaN,NaN,71805679.0,256433844.0,1.316920e+09,356234876.0,316145811.0,160772985.0,204174696.0,191497849.0,59418435.0,18671716.0,7559482.0,1525044.0,918701.0,00-00000-20210415
2676570,National,2021/04/16,NaN,NaN,NaN,NaN,69292326.0,258947197.0,1.378423e+09,368058383.0,329142352.0,169292877.0,214843992.0,200781593.0,62341395.0,21180373.0,10005123.0,1819192.0,957757.0,00-00000-20210416
2676571,National,2021/04/17,NaN,NaN,NaN,NaN,71593021.0,256646502.0,1.204654e+09,324569630.0,282693626.0,146262645.0,184980856.0,172236052.0,58223670.0,23575734.0,9767113.0,1493830.0,851151.0,00-00000-20210417

In [17]:
sys.getsizeof(df.drop(index=df[df['Level'] == 'County'].index))

18368976

In [18]:
sys.getsizeof(df.drop(index=df[df['Level'] == 'National'].index))

1234564242

In [19]:
national_and_state = df.drop(index=df[df['Level'] == 'County'].index)

## Uploading the state and national data as a csv.

In [25]:
national_and_state.to_csv('./datasets/traffic/national_and_state.csv', index=False)

In [21]:
df['County Name'].value_counts()

Washington County    25140
Jefferson County     20950
Franklin County      20112
Jackson County       19274
Lincoln County       19274
                     ...
St. Louis city         838
Colquitt County        838
Trousdale County       838
Hempstead County       838
Sharkey County         838
Name: County Name, Length: 1877, dtype: int64

## Subsetting the dataframe to get only Los Angeles County data.

In [10]:
la_data = df[df['County Name'] == 'Los Angeles County']

### Reformatting the Date Column to be ISO 8601 format.

In [11]:
la_data['Date'] = la_data['Date'].str.replace('/', '-')

<ipython-input-11-3a669fc30e75>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  la_data['Date'] = la_data['Date'].str.replace('/', '-')

In [12]:
la_data.head(2)

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID
43405,County,2019-01-01,6.0,CA,6037.0,Los Angeles County,2365053.0,7709577.0,27837706.0,8638986.0,6890475.0,3177404.0,3730800.0,3463369.0,1286744.0,408262.0,150096.0,43515.0,48055.0,06-06037-20190101
47934,County,2019-01-02,6.0,CA,6037.0,Los Angeles County,1916798.0,8157832.0,34953192.0,10204647.0,8713256.0,4118795.0,5056970.0,4790407.0,1483851.0,377632.0,127165.0,41346.0,39123.0,06-06037-20190102

In [13]:
la_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 43405 to 2673240
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Level                           838 non-null    object
 1   Date                            838 non-null    object
 2   State FIPS                      838 non-null    float64
 3   State Postal Code               838 non-null    object
 4   County FIPS                     838 non-null    float64
 5   County Name                     838 non-null    object
 6   Population Staying at Home      838 non-null    float64
 7   Population Not Staying at Home  838 non-null    float64
 8   Number of Trips                 838 non-null    float64
 9   Number of Trips <1              838 non-null    float64
 10  Number of Trips 1-3             838 non-null    float64
 11  Number of Trips 3-5             838 non-null    float64
 12  Number of Trips 5-10            838 non-null    float64
 13  Number of Trips 10-25           838 non-null    float64
 14  Number of Trips 25-50           838 non-null    float64
 15  Number of Trips 50-100          838 non-null    float64
 16  Number of Trips 100-250         838 non-null    float64
 17  Number of Trips 250-500         838 non-null    float64
 18  Number of Trips >=500           838 non-null    float64
 19  Row ID                          838 non-null    object
dtypes: float64(15), object(5)
memory usage: 137.5+ KB

### Converting the Date column to datetime data type.

In [14]:
la_data['Date'] = pd.to_datetime(la_data['Date'])
la_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 43405 to 2673240
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Level                           838 non-null    object
 1   Date                            838 non-null    datetime64[ns]
 2   State FIPS                      838 non-null    float64
 3   State Postal Code               838 non-null    object
 4   County FIPS                     838 non-null    float64
 5   County Name                     838 non-null    object
 6   Population Staying at Home      838 non-null    float64
 7   Population Not Staying at Home  838 non-null    float64
 8   Number of Trips                 838 non-null    float64
 9   Number of Trips <1              838 non-null    float64
 10  Number of Trips 1-3             838 non-null    float64
 11  Number of Trips 3-5             838 non-null    float64
 12  Number of Trips 5-10            838 non-null    float64
 13  Number of Trips 10-25           838 non-null    float64
 14  Number of Trips 25-50           838 non-null    float64
 15  Number of Trips 50-100          838 non-null    float64
 16  Number of Trips 100-250         838 non-null    float64
 17  Number of Trips 250-500         838 non-null    float64
 18  Number of Trips >=500           838 non-null    float64
 19  Row ID                          838 non-null    object
dtypes: datetime64[ns](1), float64(15), object(4)
memory usage: 137.5+ KB

<ipython-input-14-afac82bdfbff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  la_data['Date'] = pd.to_datetime(la_data['Date'])

In [16]:
la_data.head(2)

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500,Row ID
43405,County,2019-01-01,6.0,CA,6037.0,Los Angeles County,2365053.0,7709577.0,27837706.0,8638986.0,6890475.0,3177404.0,3730800.0,3463369.0,1286744.0,408262.0,150096.0,43515.0,48055.0,06-06037-20190101
47934,County,2019-01-02,6.0,CA,6037.0,Los Angeles County,1916798.0,8157832.0,34953192.0,10204647.0,8713256.0,4118795.0,5056970.0,4790407.0,1483851.0,377632.0,127165.0,41346.0,39123.0,06-06037-20190102

In [17]:
la_data.to_csv('datasets/traffic/la_data.csv', index=False)